# Generic
!.gitkeep
.DS_Store
Thumbs.db

# Bin
/bin/

# Logs
*.log
/logs/

# IDE
.vs
.vscode
/.idea/
*.code-workspace
*.sublime-workspace
*.sublime-settings
ideas.txt

# View
.svelte-kit
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
server/content/*
!server/content/.gitkeep
